nav {
  @include flex(space-between, center);
  background-color: rgba(19, 24, 28, 0);
  color: #fff;
  padding: 20px 50px;

  img {
    height: 50px;
    cursor: pointer;
  }

  ul {
    list-style-type: none;
    @include flex(flex-end, center);
    width: 100%;

    li {
      color: #99aabb;
      font-family: $primaryFont;
      text-transform: uppercase;
      font-weight: 900;
      font-size: 0.8rem;
      letter-spacing: 1.5px;
      padding: 0 20px;
      cursor: pointer;
    }
  }
}
