.singleMovie {
  @include flex(flex-start, center);
  flex-direction: column;
  margin-bottom: 31rem;
  background: #13181c;
  width: 100vw;
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;

  .banner {
    width: 75vw;
    height: 650px;
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      background-image: linear-gradient(
          0deg,
          #13181c 0,
          rgba(20, 24, 29, 0.986) 0.97%,
          rgba(20, 24, 29, 0.945) 2.07833333%,
          rgba(20, 24, 29, 0.883) 3.29666667%,
          rgba(20, 24, 29, 0.803) 4.60166667%,
          rgba(20, 24, 29, 0.711) 5.96666667%,
          rgba(20, 24, 29, 0.61) 7.365%,
          rgba(20, 24, 29, 0.504) 8.77166667%,
          rgba(20, 24, 29, 0.398) 10.16%,
          rgba(20, 24, 29, 0.296) 11.505%,
          rgba(20, 24, 29, 0.203) 12.78%,
          rgba(20, 24, 29, 0.122) 13.95833333%,
          rgba(20, 24, 29, 0.059) 15.01666667%,
          rgba(20, 24, 29, 0.016) 15.92833333%,
          rgba(20, 24, 29, 0) 16.66666667%,
          rgba(20, 24, 29, 0) 83.33333333%,
          rgba(20, 24, 29, 0.016) 84.07166667%,
          rgba(20, 24, 29, 0.059) 84.98333333%,
          rgba(20, 24, 29, 0.122) 86.04166667%,
          rgba(20, 24, 29, 0.203) 87.22%,
          rgba(20, 24, 29, 0.296) 88.495%,
          rgba(20, 24, 29, 0.398) 89.84%,
          rgba(20, 24, 29, 0.504) 91.22833333%,
          rgba(20, 24, 29, 0.61) 92.635%,
          rgba(20, 24, 29, 0.711) 94.03333333%,
          rgba(20, 24, 29, 0.803) 95.39833333%,
          rgba(20, 24, 29, 0.883) 96.70333333%,
          rgba(20, 24, 29, 0.945) 97.92166667%,
          rgba(20, 24, 29, 0.986) 99.03%,
          #13181c
        ),
        linear-gradient(
          90deg,
          #13181c 0,
          rgba(20, 24, 29, 0.986) 0.97%,
          rgba(20, 24, 29, 0.945) 2.07833333%,
          rgba(20, 24, 29, 0.883) 3.29666667%,
          rgba(20, 24, 29, 0.803) 4.60166667%,
          rgba(20, 24, 29, 0.711) 5.96666667%,
          rgba(20, 24, 29, 0.61) 7.365%,
          rgba(20, 24, 29, 0.504) 8.77166667%,
          rgba(20, 24, 29, 0.398) 10.16%,
          rgba(20, 24, 29, 0.296) 11.505%,
          rgba(20, 24, 29, 0.203) 12.78%,
          rgba(20, 24, 29, 0.122) 13.95833333%,
          rgba(20, 24, 29, 0.059) 15.01666667%,
          rgba(20, 24, 29, 0.016) 15.92833333%,
          rgba(20, 24, 29, 0) 16.66666667%,
          rgba(20, 24, 29, 0) 83.33333333%,
          rgba(20, 24, 29, 0.016) 84.07166667%,
          rgba(20, 24, 29, 0.059) 84.98333333%,
          rgba(20, 24, 29, 0.122) 86.04166667%,
          rgba(20, 24, 29, 0.203) 87.22%,
          rgba(20, 24, 29, 0.296) 88.495%,
          rgba(20, 24, 29, 0.398) 89.84%,
          rgba(20, 24, 29, 0.504) 91.22833333%,
          rgba(20, 24, 29, 0.61) 92.635%,
          rgba(20, 24, 29, 0.711) 94.03333333%,
          rgba(20, 24, 29, 0.803) 95.39833333%,
          rgba(20, 24, 29, 0.883) 96.70333333%,
          rgba(20, 24, 29, 0.945) 97.92166667%,
          rgba(20, 24, 29, 0.986) 99.03%,
          #13181c
        ),
        linear-gradient(
          180deg,
          #13181c 0,
          rgba(24, 29, 35, 0.986) 0.97%,
          rgba(24, 29, 35, 0.945) 2.07833333%,
          rgba(24, 29, 35, 0.883) 3.29666667%,
          rgba(24, 29, 35, 0.803) 4.60166667%,
          rgba(24, 29, 35, 0.711) 5.96666667%,
          rgba(24, 29, 35, 0.61) 7.365%,
          rgba(24, 29, 35, 0.504) 8.77166667%,
          rgba(24, 29, 35, 0.398) 10.16%,
          rgba(24, 29, 35, 0.296) 11.505%,
          rgba(24, 29, 35, 0.203) 12.78%,
          rgba(24, 29, 35, 0.122) 13.95833333%,
          rgba(24, 29, 35, 0.059) 15.01666667%,
          rgba(24, 29, 35, 0.016) 15.92833333%,
          rgba(24, 29, 35, 0) 16.66666667%,
          rgba(24, 29, 35, 0) 79.33333333%,
          rgba(24, 29, 35, 0.016) 80.07166667%,
          rgba(24, 29, 35, 0.059) 81.98333333%,
          rgba(24, 29, 35, 0.122) 82.04166667%,
          rgba(24, 29, 35, 0.203) 83.22%,
          rgba(24, 29, 35, 0.296) 89.495%,
          rgba(24, 29, 35, 0.398) 90.84%,
          rgba(24, 29, 35, 0.504) 91.22833333%,
          rgba(24, 29, 35, 0.61) 92.635%,
          rgba(24, 29, 35, 0.711) 94.03333333%,
          rgba(24, 29, 35, 0.803) 95.39833333%,
          rgba(24, 29, 35, 0.883) 96.70333333%,
          rgba(24, 29, 35, 0.945) 97.92166667%,
          rgba(24, 29, 35, 0.986) 99.03%,
          #13181c
        );
    }
  }

  .wrapper {
    @include flex(flex-start, flex-start);
    width: 70vw;
    margin-top: -2rem;
    margin-bottom: 4rem;
    z-index: 2;

    > img {
      width: 230px;
      height: 345px;
      border: 1.5px solid #e1e1ff99;
      border-radius: 5px;
      cursor: pointer;
    }

    .info {
      @include flex(flex-start, flex-start);
      flex-direction: column;
      height: 345px;
      width: 100%;
      margin: 0 2rem;
    }

    .name {
      @include flex(flex-start, flex-end);
      flex-wrap: wrap;
      width: 100%;
      margin-bottom: 2rem;

      > * {
        margin-right: 1rem;
      }

      h2 {
        font-size: 2rem;
        line-height: 32px;
      }

      h4 {
        color: #e1e1ff99;
        font-weight: 400;

        a {
          color: rgba(255, 255, 255, 0.8);
          margin-left: 0.5rem;
        }
      }
    }

    .overview {
      color: #e1e1ff99;
      display: flex;
      flex-direction: column;
      height: 100%;

      h4 {
        margin-bottom: 1rem;
        font-weight: 400;
        text-transform: uppercase;
      }

      p {
        max-width: 430px;
        line-height: 25px;
        margin-bottom: 2rem;
      }

      h3 {
        font-weight: 400;
        font-size: 1rem;
        margin-top: auto;
      }
    }
  }

  .details {
    width: 70vw;
    margin-bottom: 5rem;

    > div {
      @include flex(flex-start, flex-start);
      margin: 2rem 0;
      width: 40%;
      flex-direction: column;
      flex-wrap: wrap;

      > div {
        margin: 0 2rem 1rem 0;
      }

      &.details {
        margin: 2rem 0;

        > div {
          @include flex(space-between, flex-end);
          flex-direction: row;
          width: 100%;
        }
      }

      p {
        margin-bottom: 0.5rem;
        color: #e1e1ff99;
        text-transform: uppercase;
      }

      ul {
        list-style-type: none;

        li {
          display: inline-block;
          font-size: 0.9rem;
          background-color: #303840;
          color: #e1e1ff99;
          margin: 5px 5px 5px 0;
          padding: 5px 10px;
          border-radius: 10px;
          cursor: pointer;

          &:hover {
            color: #fff;
          }
        }
      }
    }

    .options {
      @include flex(flex-start, center);
      list-style-type: none;
      color: #dda804;

      li {
        margin-right: 20px;
        text-transform: uppercase;
        cursor: pointer;

        &:hover {
          border-bottom: 2px solid #dda804;
        }

        &.active {
          color: #fff;
          border-bottom: 2px solid #fff;
        }
      }
    }
  }
}

.posterModal {
  height: 100%;
  width: 100%;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  opacity: 0;
  transition: all 500ms ease;

  &.open {
    visibility: visible;
    opacity: 1;
  }

  img {
    position: relative;
    height: 95vh;
    margin-top: 1rem;
    border: 1.5px solid #e1e1ff99;
    border-radius: 5px;
    z-index: 4;
  }

  svg {
    font-size: 2rem;
    position: absolute;
    top: 15px;
    right: 20px;
    color: #e1e1ff99;
    cursor: pointer;

    &:hover {
      color: #fff;
    }
  }
}
