.trending {
  margin: 5rem 0 8rem 0;

  .underline {
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 1rem;
  }

  .title {
    @include flex(space-between, center);
    margin-bottom: 0.2rem;

    h2 {
      color: rgba(255, 255, 255, 0.9);
      font-size: 1.5rem;
    }

    .toggle .knobs,
    .layer {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    .button {
      position: relative;
      top: 50%;
      height: 36px;
      width: 78px;
      overflow: hidden;
      border-radius: 100px;

      & .knobs:before {
        content: "Day";
        position: absolute;
        top: 4px;
        left: 4px;
        width: 24px;
        height: 10px;
        color: #fff;
        font-size: 10px;
        font-weight: 700;
        text-align: center;
        line-height: 1;
        padding: 9px 4px;
        background-color: #dda824;
        border-radius: 50%;
        transition: 500ms all ease,
          left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
      }

      & .checkbox {
        &:active + .knobs:before {
          width: 46px;
        }

        &:checked:active + .knobs:before {
          margin-left: -26px;
        }

        &:checked + .knobs:before {
          content: "Week";
          left: 42px;
          background-color: #fff;
          color: #000;
        }

        &:checked ~ .layer {
          background-color: #dda824;
        }
      }
    }

    .checkbox {
      position: relative;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 3;
      cursor: pointer;
    }

    .knobs {
      z-index: 2;
    }

    .layer {
      width: 100%;
      background-color: #fff;
      transition: 500ms all ease;
    }
  }

  article {
    @include flex(space-between, center);
    gap: 140px 10px;

    .trendElement {
      height: 250px;
      width: 180px;
      cursor: pointer;

      img {
        height: 100%;
        width: 100%;
        border: solid 2px;
        border-image: linear-gradient(rgba(225, 225, 255, 0.6), rgb(19, 24, 28))
          1 / 200px;
        border-bottom: none;
        transition: all 500ms ease;

        &:hover {
          border-image: linear-gradient(rgba(225, 225, 255, 1), rgb(19, 24, 28))
            1 / 200px;
        }
      }

      .info {
        position: relative;
        background: #445566;
        margin-top: -0.3rem;
        padding: 5px;
        white-space: nowrap;
        overflow: hidden;
        border: solid 2px;
        border-image: linear-gradient(to top, rgba(225, 225, 255, 0.6), #000) 1;
        border-top: none;

        .fade {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(
            to right,
            rgba(255, 255, 255, 0) 90%,
            rgba(68, 85, 102, 1) 100%
          );
        }
      }
    }
  }
}

// @keyframes move {
//   0%,
//   25% {
//     transform: translateX(0%);
//   }
//   75%,
//   100% {
//     transform: translateX(-100%);
//   }
// }
