@import "config", "nav", "trending", "person", "singleMovie";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(19, 24, 28);
  background: linear-gradient(
    0deg,
    rgba(19, 24, 28, 1) 70%,
    rgba(32, 38, 46, 1) 100%
  );
}

main {
  max-width: 75vw;
  margin: 0 auto;
  color: #fff;
  font-family: $primaryFont;
}
