@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@100;200;300;400;500;600;700;800;900&display=swap");
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #15181d;
  color: #fff;
  padding: 20px 50px;
}
nav img {
  height: 55px;
  cursor: pointer;
}
nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
nav ul li {
  color: #99aabb;
  font-family: "Hanken Grotesk", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 0.8rem;
  letter-spacing: 1.5px;
  padding: 0 20px;
  cursor: pointer;
}

.trending h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.trending article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 140px 10px;
}
.trending article > div {
  height: 250px;
  width: 180px;
}
.trending article > div img {
  height: 100%;
  width: 100%;
  border: solid 2px;
  -o-border-image: linear-gradient(rgba(225, 225, 255, 0.6), rgb(0, 0, 0)) 1/200px;
     border-image: -webkit-gradient(linear, left top, left bottom, from(rgba(225, 225, 255, 0.6)), to(rgb(0, 0, 0))) 1/200px;
     border-image: linear-gradient(rgba(225, 225, 255, 0.6), rgb(0, 0, 0)) 1/200px;
  border-bottom: none;
}
.trending article > div .info {
  position: relative;
  background: #445566;
  margin-top: -0.3rem;
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
  border: solid 2px;
  -o-border-image: linear-gradient(to top, rgba(225, 225, 255, 0.6), #000) 1;
     border-image: -webkit-gradient(linear, left bottom, left top, from(rgba(225, 225, 255, 0.6)), to(#000)) 1;
     border-image: linear-gradient(to top, rgba(225, 225, 255, 0.6), #000) 1;
  border-top: none;
}
.trending article > div .info .fade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, color-stop(90%, rgba(255, 255, 255, 0)), to(rgb(68, 85, 102)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 90%, rgb(68, 85, 102) 100%);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: rgb(19, 24, 28);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(70%, rgb(19, 24, 28)), to(rgb(32, 38, 46)));
  background: linear-gradient(0deg, rgb(19, 24, 28) 70%, rgb(32, 38, 46) 100%);
}

main {
  max-width: 75vw;
  margin: 3rem auto;
  min-height: 200vh;
  color: #fff;
  font-family: "Hanken Grotesk", sans-serif;
}/*# sourceMappingURL=main.css.map */