@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@100;200;300;400;500;600;700;800;900&display=swap");
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(19, 24, 28, 0);
  color: #fff;
  padding: 20px 50px;
}
nav img {
  height: 50px;
  cursor: pointer;
}
nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
nav ul li {
  color: #99aabb;
  font-family: "Hanken Grotesk", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 0.8rem;
  letter-spacing: 1.5px;
  padding: 0 20px;
  cursor: pointer;
}

.trending {
  margin: 5rem 0 8rem 0;
}
.trending .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.2rem;
}
.trending .title h2,
.trending .title select {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
}
.trending .title select {
  margin-left: 0.3rem;
  background: none;
  border: none;
  outline: none;
  font-family: "Hanken Grotesk", sans-serif;
  cursor: pointer;
}
.trending .title select option {
  background-color: #445566;
  color: rgba(255, 255, 255, 0.5);
}
.trending .underline {
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  margin-bottom: 1rem;
}
.trending article:last-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 140px 10px;
}
.trending article:last-of-type .trendElement {
  height: 250px;
  width: 180px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.trending article:last-of-type .trendElement img {
  height: 100%;
  width: 100%;
  border: solid 2px;
  -o-border-image: linear-gradient(rgba(225, 225, 255, 0.6), rgb(19, 24, 28)) 1/200px;
     border-image: -webkit-gradient(linear, left top, left bottom, from(rgba(225, 225, 255, 0.6)), to(rgb(19, 24, 28))) 1/200px;
     border-image: linear-gradient(rgba(225, 225, 255, 0.6), rgb(19, 24, 28)) 1/200px;
  border-bottom: none;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
.trending article:last-of-type .trendElement img:hover {
  -o-border-image: linear-gradient(rgb(225, 225, 255), rgb(19, 24, 28)) 1/200px;
     border-image: -webkit-gradient(linear, left top, left bottom, from(rgb(225, 225, 255)), to(rgb(19, 24, 28))) 1/200px;
     border-image: linear-gradient(rgb(225, 225, 255), rgb(19, 24, 28)) 1/200px;
}
.trending article:last-of-type .trendElement .info {
  position: relative;
  background: #445566;
  margin-top: -0.3rem;
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
  border: solid 2px;
  -o-border-image: linear-gradient(to top, rgba(225, 225, 255, 0.6), #000) 1;
     border-image: -webkit-gradient(linear, left bottom, left top, from(rgba(225, 225, 255, 0.6)), to(#000)) 1;
     border-image: linear-gradient(to top, rgba(225, 225, 255, 0.6), #000) 1;
  border-top: none;
}
.trending article:last-of-type .trendElement .info .fade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, color-stop(90%, rgba(255, 255, 255, 0)), to(rgb(68, 85, 102)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 90%, rgb(68, 85, 102) 100%);
}

.person {
  color: rgba(255, 255, 255, 0.5);
  margin: 3rem 0;
}
.person img {
  width: 200px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}
.person img:hover {
  border: 2px solid #fff;
}
.person h2 {
  margin: 0.5rem 0;
}
.person h4 {
  margin: 0.2rem 0;
}
.person h5 {
  display: inline-block;
  font-size: 1rem;
  color: #fff;
  text-decoration: underline;
  margin-top: 1rem;
  cursor: pointer;
}
.person h5:hover {
  color: #40bcf4;
}
.person p {
  margin-top: 1rem;
  max-width: 280px;
}

.singleMovie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #13181c;
  width: 100vw;
  max-width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
}
.singleMovie .banner {
  width: 75vw;
  height: 650px;
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.singleMovie .banner::before {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #13181c), color-stop(0.97%, rgba(20, 24, 29, 0.986)), color-stop(2.07833333%, rgba(20, 24, 29, 0.945)), color-stop(3.29666667%, rgba(20, 24, 29, 0.883)), color-stop(4.60166667%, rgba(20, 24, 29, 0.803)), color-stop(5.96666667%, rgba(20, 24, 29, 0.711)), color-stop(7.365%, rgba(20, 24, 29, 0.61)), color-stop(8.77166667%, rgba(20, 24, 29, 0.504)), color-stop(10.16%, rgba(20, 24, 29, 0.398)), color-stop(11.505%, rgba(20, 24, 29, 0.296)), color-stop(12.78%, rgba(20, 24, 29, 0.203)), color-stop(13.95833333%, rgba(20, 24, 29, 0.122)), color-stop(15.01666667%, rgba(20, 24, 29, 0.059)), color-stop(15.92833333%, rgba(20, 24, 29, 0.016)), color-stop(16.66666667%, rgba(20, 24, 29, 0)), color-stop(83.33333333%, rgba(20, 24, 29, 0)), color-stop(84.07166667%, rgba(20, 24, 29, 0.016)), color-stop(84.98333333%, rgba(20, 24, 29, 0.059)), color-stop(86.04166667%, rgba(20, 24, 29, 0.122)), color-stop(87.22%, rgba(20, 24, 29, 0.203)), color-stop(88.495%, rgba(20, 24, 29, 0.296)), color-stop(89.84%, rgba(20, 24, 29, 0.398)), color-stop(91.22833333%, rgba(20, 24, 29, 0.504)), color-stop(92.635%, rgba(20, 24, 29, 0.61)), color-stop(94.03333333%, rgba(20, 24, 29, 0.711)), color-stop(95.39833333%, rgba(20, 24, 29, 0.803)), color-stop(96.70333333%, rgba(20, 24, 29, 0.883)), color-stop(97.92166667%, rgba(20, 24, 29, 0.945)), color-stop(99.03%, rgba(20, 24, 29, 0.986)), to(#13181c)), -webkit-gradient(linear, left top, right top, color-stop(0, #13181c), color-stop(0.97%, rgba(20, 24, 29, 0.986)), color-stop(2.07833333%, rgba(20, 24, 29, 0.945)), color-stop(3.29666667%, rgba(20, 24, 29, 0.883)), color-stop(4.60166667%, rgba(20, 24, 29, 0.803)), color-stop(5.96666667%, rgba(20, 24, 29, 0.711)), color-stop(7.365%, rgba(20, 24, 29, 0.61)), color-stop(8.77166667%, rgba(20, 24, 29, 0.504)), color-stop(10.16%, rgba(20, 24, 29, 0.398)), color-stop(11.505%, rgba(20, 24, 29, 0.296)), color-stop(12.78%, rgba(20, 24, 29, 0.203)), color-stop(13.95833333%, rgba(20, 24, 29, 0.122)), color-stop(15.01666667%, rgba(20, 24, 29, 0.059)), color-stop(15.92833333%, rgba(20, 24, 29, 0.016)), color-stop(16.66666667%, rgba(20, 24, 29, 0)), color-stop(83.33333333%, rgba(20, 24, 29, 0)), color-stop(84.07166667%, rgba(20, 24, 29, 0.016)), color-stop(84.98333333%, rgba(20, 24, 29, 0.059)), color-stop(86.04166667%, rgba(20, 24, 29, 0.122)), color-stop(87.22%, rgba(20, 24, 29, 0.203)), color-stop(88.495%, rgba(20, 24, 29, 0.296)), color-stop(89.84%, rgba(20, 24, 29, 0.398)), color-stop(91.22833333%, rgba(20, 24, 29, 0.504)), color-stop(92.635%, rgba(20, 24, 29, 0.61)), color-stop(94.03333333%, rgba(20, 24, 29, 0.711)), color-stop(95.39833333%, rgba(20, 24, 29, 0.803)), color-stop(96.70333333%, rgba(20, 24, 29, 0.883)), color-stop(97.92166667%, rgba(20, 24, 29, 0.945)), color-stop(99.03%, rgba(20, 24, 29, 0.986)), to(#13181c)), -webkit-gradient(linear, left top, left bottom, color-stop(0, #13181c), color-stop(0.97%, rgba(24, 29, 35, 0.986)), color-stop(2.07833333%, rgba(24, 29, 35, 0.945)), color-stop(3.29666667%, rgba(24, 29, 35, 0.883)), color-stop(4.60166667%, rgba(24, 29, 35, 0.803)), color-stop(5.96666667%, rgba(24, 29, 35, 0.711)), color-stop(7.365%, rgba(24, 29, 35, 0.61)), color-stop(8.77166667%, rgba(24, 29, 35, 0.504)), color-stop(10.16%, rgba(24, 29, 35, 0.398)), color-stop(11.505%, rgba(24, 29, 35, 0.296)), color-stop(12.78%, rgba(24, 29, 35, 0.203)), color-stop(13.95833333%, rgba(24, 29, 35, 0.122)), color-stop(15.01666667%, rgba(24, 29, 35, 0.059)), color-stop(15.92833333%, rgba(24, 29, 35, 0.016)), color-stop(16.66666667%, rgba(24, 29, 35, 0)), color-stop(79.33333333%, rgba(24, 29, 35, 0)), color-stop(80.07166667%, rgba(24, 29, 35, 0.016)), color-stop(81.98333333%, rgba(24, 29, 35, 0.059)), color-stop(82.04166667%, rgba(24, 29, 35, 0.122)), color-stop(83.22%, rgba(24, 29, 35, 0.203)), color-stop(89.495%, rgba(24, 29, 35, 0.296)), color-stop(90.84%, rgba(24, 29, 35, 0.398)), color-stop(91.22833333%, rgba(24, 29, 35, 0.504)), color-stop(92.635%, rgba(24, 29, 35, 0.61)), color-stop(94.03333333%, rgba(24, 29, 35, 0.711)), color-stop(95.39833333%, rgba(24, 29, 35, 0.803)), color-stop(96.70333333%, rgba(24, 29, 35, 0.883)), color-stop(97.92166667%, rgba(24, 29, 35, 0.945)), color-stop(99.03%, rgba(24, 29, 35, 0.986)), to(#13181c));
  background-image: linear-gradient(0deg, #13181c 0, rgba(20, 24, 29, 0.986) 0.97%, rgba(20, 24, 29, 0.945) 2.07833333%, rgba(20, 24, 29, 0.883) 3.29666667%, rgba(20, 24, 29, 0.803) 4.60166667%, rgba(20, 24, 29, 0.711) 5.96666667%, rgba(20, 24, 29, 0.61) 7.365%, rgba(20, 24, 29, 0.504) 8.77166667%, rgba(20, 24, 29, 0.398) 10.16%, rgba(20, 24, 29, 0.296) 11.505%, rgba(20, 24, 29, 0.203) 12.78%, rgba(20, 24, 29, 0.122) 13.95833333%, rgba(20, 24, 29, 0.059) 15.01666667%, rgba(20, 24, 29, 0.016) 15.92833333%, rgba(20, 24, 29, 0) 16.66666667%, rgba(20, 24, 29, 0) 83.33333333%, rgba(20, 24, 29, 0.016) 84.07166667%, rgba(20, 24, 29, 0.059) 84.98333333%, rgba(20, 24, 29, 0.122) 86.04166667%, rgba(20, 24, 29, 0.203) 87.22%, rgba(20, 24, 29, 0.296) 88.495%, rgba(20, 24, 29, 0.398) 89.84%, rgba(20, 24, 29, 0.504) 91.22833333%, rgba(20, 24, 29, 0.61) 92.635%, rgba(20, 24, 29, 0.711) 94.03333333%, rgba(20, 24, 29, 0.803) 95.39833333%, rgba(20, 24, 29, 0.883) 96.70333333%, rgba(20, 24, 29, 0.945) 97.92166667%, rgba(20, 24, 29, 0.986) 99.03%, #13181c), linear-gradient(90deg, #13181c 0, rgba(20, 24, 29, 0.986) 0.97%, rgba(20, 24, 29, 0.945) 2.07833333%, rgba(20, 24, 29, 0.883) 3.29666667%, rgba(20, 24, 29, 0.803) 4.60166667%, rgba(20, 24, 29, 0.711) 5.96666667%, rgba(20, 24, 29, 0.61) 7.365%, rgba(20, 24, 29, 0.504) 8.77166667%, rgba(20, 24, 29, 0.398) 10.16%, rgba(20, 24, 29, 0.296) 11.505%, rgba(20, 24, 29, 0.203) 12.78%, rgba(20, 24, 29, 0.122) 13.95833333%, rgba(20, 24, 29, 0.059) 15.01666667%, rgba(20, 24, 29, 0.016) 15.92833333%, rgba(20, 24, 29, 0) 16.66666667%, rgba(20, 24, 29, 0) 83.33333333%, rgba(20, 24, 29, 0.016) 84.07166667%, rgba(20, 24, 29, 0.059) 84.98333333%, rgba(20, 24, 29, 0.122) 86.04166667%, rgba(20, 24, 29, 0.203) 87.22%, rgba(20, 24, 29, 0.296) 88.495%, rgba(20, 24, 29, 0.398) 89.84%, rgba(20, 24, 29, 0.504) 91.22833333%, rgba(20, 24, 29, 0.61) 92.635%, rgba(20, 24, 29, 0.711) 94.03333333%, rgba(20, 24, 29, 0.803) 95.39833333%, rgba(20, 24, 29, 0.883) 96.70333333%, rgba(20, 24, 29, 0.945) 97.92166667%, rgba(20, 24, 29, 0.986) 99.03%, #13181c), linear-gradient(180deg, #13181c 0, rgba(24, 29, 35, 0.986) 0.97%, rgba(24, 29, 35, 0.945) 2.07833333%, rgba(24, 29, 35, 0.883) 3.29666667%, rgba(24, 29, 35, 0.803) 4.60166667%, rgba(24, 29, 35, 0.711) 5.96666667%, rgba(24, 29, 35, 0.61) 7.365%, rgba(24, 29, 35, 0.504) 8.77166667%, rgba(24, 29, 35, 0.398) 10.16%, rgba(24, 29, 35, 0.296) 11.505%, rgba(24, 29, 35, 0.203) 12.78%, rgba(24, 29, 35, 0.122) 13.95833333%, rgba(24, 29, 35, 0.059) 15.01666667%, rgba(24, 29, 35, 0.016) 15.92833333%, rgba(24, 29, 35, 0) 16.66666667%, rgba(24, 29, 35, 0) 79.33333333%, rgba(24, 29, 35, 0.016) 80.07166667%, rgba(24, 29, 35, 0.059) 81.98333333%, rgba(24, 29, 35, 0.122) 82.04166667%, rgba(24, 29, 35, 0.203) 83.22%, rgba(24, 29, 35, 0.296) 89.495%, rgba(24, 29, 35, 0.398) 90.84%, rgba(24, 29, 35, 0.504) 91.22833333%, rgba(24, 29, 35, 0.61) 92.635%, rgba(24, 29, 35, 0.711) 94.03333333%, rgba(24, 29, 35, 0.803) 95.39833333%, rgba(24, 29, 35, 0.883) 96.70333333%, rgba(24, 29, 35, 0.945) 97.92166667%, rgba(24, 29, 35, 0.986) 99.03%, #13181c);
  background-repeat: no-repeat;
  content: "";
  display: block;
  height: 675px;
  width: 100%;
  left: 50%;
  pointer-events: none;
  position: absolute;
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 0;
}
.singleMovie .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #13181c;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(70%, rgb(19, 24, 28)), to(rgb(32, 38, 46)));
  background: linear-gradient(0deg, rgb(19, 24, 28) 70%, rgb(32, 38, 46) 100%);
}

main {
  max-width: 75vw;
  margin: 0 auto;
  color: #fff;
  font-family: "Hanken Grotesk", sans-serif;
}/*# sourceMappingURL=main.css.map */