nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;

  ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}
